* {
  margin: 0;
  padding: 0;
}

nav ul {
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  /* Dit maakt van de container een flex layout */
  display: flex;
  align-items: center;
  color: rgb(11, 11, 11);
}

nav a:hover {
  background-color: rgb(17, 97, 14);
}

a {
  text-decoration: none;
}



.ham-menu {
  /* Dit zorgt ervoor dat de navbar op het scherm blijft van de gebruiker. 
  Als de gebruiker naar boven of beneden scrollt bijft het menus hierdoor op zelfde plek in de viewport */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 9999;
  box-shadow: -10px 0 30px black;
  display: none;
  /* Dit geeft aan dat de list item wordt weergegeven als een column. De items worden dus onder elkaar weergegeven */
  flex-direction: column; 
  list-style-type: none;
  /* Dit zorgt ervoor dat de list items aan de bovenkant van de container worden uitgelijnd */
  align-items: flex-start;
  /* Dit zorgt ervoor dat de list items aan de bovenkant van de container worden geplaatst */
  justify-content: flex-start;
  backdrop-filter: blur(20px);
}

.ham-menu li {
  width: 100%;
}

svg:hover {
  scale: 1.1;
  color: rgb(255, 255, 255);
}

svg {
  color: black;
  margin: 10px;
  /* background-color: rgb(94, 93, 93);
    border-radius: 5px; */
}

/* return knop voor alsje terug wilt gaan naar all stories page */
.return-arrow {
  margin-top: 1em;
}

.return-arrow svg {
  color: rgba(0, 0, 0, 0.322);
}
