* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(/assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;

}




.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3;
    gap: 1em;

}

.header-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 2em;

}

.header-paragraph {
    grid-column: 1 / 4;
    position: relative;
    padding: 3em;
}

.story-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
}








/* hamburger menu */


nav ul {
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: rgb(11, 11, 11);
}

nav a:hover {
    background-color: rgb(17, 97, 14);
}

a {
    text-decoration: none;
}

.hamburger-drop-down {
    display: inline;
    /* position: sticky; */
}


.ham-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
    box-shadow: -10px 0 30px black;
    display: none;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(20px);
}

.ham-menu li {
    width: 100%;
}

svg:hover {
    scale: 1.1;
    color: rgb(255, 255, 255);
}

svg {
    color: black;
    margin: 10px;
    /* background-color: rgb(94, 93, 93);
    border-radius: 5px; */
}