body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url(../assets/woods.png), radial-gradient(#3b0951, #773580);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Courier New", Courier, monospace;
}

.mouse:hover {
  animation: springen 0.5s ease;
}

@keyframes springen {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0);
  }
}

/* positionering muis. het landschap zit in de body en de mouse image zit erboven. door absolute te maken
kun je deze plaatsen waar ik wil ten opzichte van de de background die ik in de body heb gezet.*/
.mouse-container {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  width: 300px;
  height: auto;
}

.header-info {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 50px 150px;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(153, 147, 158, 0.192); */
  margin: 2em;
}

.title {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  font-size: xx-large;
  /* box-shadow: 0px 0px 9px 2px black; */
}

.sub-title {
  grid-row: 2 / 3;
  grid-column: 1 / 1;
  font-size: medium;
  /* box-shadow: 0px 0px 9px 2px black; */
}
